{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ book.title }}
{% endblock %}

{% block css_load %}
    <link rel="stylesheet" href="{% static 'store/book_page.css' %}">
{% endblock %}

{% block content %}
    <div class="general_book_block">
        <h2>{{ book.title }}. {{ book.author }}</h2>
        <img src="{{ book.image }}" height="560" width="380">
        <div class="buy_block">Цена: {{ book.price }} ₽<br>
            {% if basket %}
                <a class="remove_book" href="{% url 'book_remove' book.id %}">Добавлено</a>
            {% else %}
                <a class="add_book" href="{% url 'basket_add' book.id %}">В корзину</a>
            {% endif %}
        </div>
        <div class="details_block">
            <p>{{ book.isbn }}<br></p>
            <p>Издательство: {{ book.publisher }}</p>
            <p>Автор: {{ book.author }}</p>
            {% if book.volume == None %}
                <p>Страниц: Неизвестно</p>
            {% else %}
                <p>Страниц: {{ book.volume }}</p>
            {% endif %}
        </div>
        <p class="description_block"><strong>Аннотация к книге: "{{ book.title }}"</strong><br>{{ book.description }}</p>
    </div>
{% endblock %}