{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ book.title }}
{% endblock %}

{% block css_load %}
    <link rel="stylesheet" href="{% static 'store/book_cart.css' %}">
{% endblock %}

{% block content %}
    <form method="get">
        {% include 'includes/navbar.html' %}
    </form>

    <div class="general_book_block">
        <h2>{{ book.title }}. {{ book.author }}</h2>
        <img src="{{ book.image }}" height="560" width="380">
        <div class="buy_block">Цена: {{ book.price }} ₽<br><input type="submit" value="Купить"></div>
        <div class="details_block">
            <p>{{ book.isbn }}<br></p>
            <p>Издательство: {{ book.publisher }}</p>
            <p>Автор: {{ book.author }}</p>
            {% if book.volume == None %}
                <p>Страниц: Неизвестно</p>
            {% else %}
                <p>Страниц: {{ book.volume }}</p>
            {% endif %}
        </div>
        <p class="description_block"><strong>Аннотация к книге: "{{ book.title }}"</strong><br>{{ book.description }}</p>
    </div>
{% endblock %}