{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ genre_name }}
{% endblock %}

{% block css_load %}
    <link rel="stylesheet" href="{% static 'store/genre_list.css' %}">
{% endblock %}

{% block content %}
    <form method="get">
        {% include 'includes/navbar.html' %}
    </form>
    <h1>{{ genre_name }}</h1>
    <div class="filter_and_book_blocks">
            <div class="filter_block">
                <div>{{ genre.section }}</div>
                {% for genre in genre_list %}
                    <a href="{{ genre.get_url }}">{{genre}}</a><br>
                {% endfor %}
                <form method="get">
                    <div class="author_filter_block">
                        Автор<br>
                        <input class="author_filter_input" name="author" type="text" autocomplete="off" list="authors" placeholder="Поиск">
                        <datalist id="authors">
                            {% for author in all_authors %}
                                <option value="{{ author }}">
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="publisher_filter_block">
                        Издатель<br>
                        <input class="publisher_filter_input" name="publisher" autocomplete="off" type="text" list="publisher" placeholder="Поиск">
                        <datalist id="publisher">
                            {% for publisher in all_publishers %}
                                <option value="{{ publisher }}">
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="price_filter_block">
                        Цена<br>
                        <input type="number" name="price_from" autocomplete="off"  placeholder="От">
                        <input type="number" name="price_to" autocomplete="off"  placeholder="До">
                    </div>
                    <div class="volume_filter_block">
                        Количество страниц<br>
                        <input type="number" name="volume_from" autocomplete="off"  placeholder="От {{ price_min }}" value="{{ price_min }}">
                        <input type="number" name="volume_to" autocomplete="off"  placeholder="До" >
                    </div>
                    <input type="submit" class="submit_filter" value="Применить">
                </form>
            </div>
        <div class="section_with_blocks">
            {% for book in books_by_genre %}
                <div class="book_block">
                    <a href=""><img src="{{ book.image }}" height="280" width="180"></a>
                    <a class="title_style" href="">{{ book.title }}</a>
                    <a class="author_style" href="">{{ book.author }}</a>
                    <div class="price_style">{{ book.price }} ₽</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}