{% extends 'base.html' %}
{% load static %}

{% block title %}
    RunRead
{% endblock %}

{% block css_load %}
    <link rel="stylesheet" href="{% static 'store/css/main_page.css' %}">
{% endblock %}

{% block content %}
    <form method="get">
        {% include 'includes/navbar.html' %}
    </form>
    <div class="section_with_blocks">
        <div class="name_block">Новинки</div>
            <div class="book_block">
                <div><img src="{{ book.image }}" height="300" width="200"></div>
                <div>gsrgsrgvf</div>
                <div>{{ book.rating }} ★</div>
            </div>
            <div class="book_block">
                <div><img src="{{ book.image }}" height="300" width="200"></div>
                <div>gsrgrsgs</div>
                <div>{{ book.rating }} ★</div>
            </div>
            <div class="book_block">
                <div><img src="{{ book.image }}" height="300" width="200"></div>
                <div>grsgrsgrsg</div>
                <div>{{ book.rating }} ★</div>
            </div>
            <div class="book_block">
                <div><img src="{{ book.image }}" height="300" width="200"></div>
                <div>grsgrsg</div>
                <div>{{ book.rating }} ★</div>
            </div>
            <div class="book_block">
                <div><img src="{{ book.image }}" height="300" width="200"></div>
                <div>gsrgsrgsr</div>
                <div>{{ book.rating }} ★</div>
            </div>
    </div>

    <div class="section_with_blocks">
        <div class="name_block">Популярное</div>
            <div class="book_block">
                <div><img src="{{ book.image }}" height="300" width="200"></div>
                <div>gsrgsrgvf</div>
                <div>{{ book.rating }} ★</div>
            </div>
            <div class="book_block">
                <div><img src="{{ book.image }}" height="300" width="200"></div>
                <div>gsrgrsgs</div>
                <div>{{ book.rating }} ★</div>
            </div>
            <div class="book_block">
                <div><img src="{{ book.image }}" height="300" width="200"></div>
                <div>grsgrsgrsg</div>
                <div>{{ book.rating }} ★</div>
            </div>
            <div class="book_block">
                <div><img src="{{ book.image }}" height="300" width="200"></div>
                <div>grsgrsg</div>
                <div>{{ book.rating }} ★</div>
            </div>
            <div class="book_block">
                <div><img src="{{ book.image }}" height="300" width="200"></div>
                <div>gsrgsrgsr</div>
                <div>{{ book.rating }} ★</div>
            </div>
    </div>
    <div class="pop_block">

    </div>
    <div class="rating_block">

    </div>
    <div class="self-development">

    </div>
    <div class="fantasy">

    </div>
    <div class="history">

    </div>
{% endblock %}