{% extends 'base.html' %}
{% load static %}

{% block title %}
    RunRead
{% endblock %}

{% block css_load %}
    <link rel="stylesheet" href="{% static 'store/general.css' %}">
{% endblock %}

{% block content %}
    <form method="get">
        {% include 'includes/navbar.html' %}
    </form>
    <div class="section_with_blocks">
        <h1>Новинки</h1>
        <h2>Фантастика и фэнтези</h2>
        {% for book in fantasy_books %}
            <div class="book_block">
                <a href="{{ book.get_url }}"><img src="{{ book.image }}" height="300" width="200"></a>
                <a class="title_style" href="{{ book.get_url }}">{{ book.title }}</a>
                <a class="author_style" href="{{ book.get_url }}">{{ book.author }}</a>
                <div class="price_style">{{ book.price }} ₽</div>
            </div>
        {% endfor %}
    </div>

    {% for genre, books in dict_other_books.items %}
        <div class="section_with_blocks">
            <h2>{{ genre }}</h2>
            {% for book in books %}
                <div class="book_block">
                    <a href="{{ book.get_url }}"><img src="{{ book.image }}" height="300" width="200"></a>
                    <a class='title_style' href="">{{ book.title }}</a>
                    <a class='author_style' href="">{{ book.author }}</a>
                    <div class="price_style">{{ book.price }} ₽</div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}