{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ search_field }}
{% endblock %}

{% block css_load %}
    <link rel="stylesheet" href="{% static 'store/search_page.css' %}">
{% endblock %}

{% block content %}
        {% if book_list %}
            <h1 class="result_name">Результаты по запросу "{{ search_field }}"</h1>
            <div class="result_block">
                {% for book in book_list %}
                    <div class="book_block">
                        <a href="{{ book.get_url }}"><img src="{{ book.image }}" height="280" width="180"></a>
                        <a class="title_style" href="{{ book.get_url }}">{{ book.title }}</a>
                        <a class="author_style" href="{{ book.get_url }}">{{ book.author }}</a>
                        <div class="price_style">{{ book.price }} ₽</div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h1 class="result_name">Результатов по запросу "{{ search_field }}" не найдено</h1>
        {% endif %}
{% endblock %}