.general_book_block {
    display: inline-block;
    margin: 3% 15% 5% 15%;
    width: 1320px;
    background-color: red;
    font-family: arial;
    background: white;
    float: left;
    border-left: 4px solid brown;
}

.general_book_block img {
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
}

.general_book_block h2 {
    display: block;
    padding: 20px 0px 20px 20px;
    width: 100%;
    margin: 0px;
    height: auto;
    font-family: arial;
    font-size: 28px;
}

.description_block {
    width: 450px;
    float: right;
    font-size: 20px;
    display: block;
    margin-right: 20px;
    padding: 0px 20px 10px 20px;
    border-right: 1px solid gray;

}

.buy_block {
    background: lightgray;
    margin-top: 10px;
    width: Auto;
    float: left;
    font-size: 25px;
    padding: 15px 15px 15px 20px;
    margin-left: 10px;
}

.add_book {
    border-radius: 3px;
    text-decoration: none;
    width: 155px;
    margin-top: 10px;
    margin-left: 2px;
    background: #26a723;
    display: block;
    font-size: 23px;
    padding: 13px;
    padding-left: 17px;
    color: white;
    font-weight: 100;
    text-align: center;
    border: 0px;
}

.add_book:hover {
    display: block;
    color: black;
    transition: 0.1s;
}

.remove_book {
    border-radius: 3px;
    text-decoration: none;
    width: 155px;
    margin-top: 10px;
    margin-left: 2px;
    background: brown;
    display: block;
    font-size: 23px;
    padding: 13px;
    padding-left: 17px;
    color: white;
    font-weight: 100;
    text-align: center;
    border: 0px;
}

.remove_book:hover {
    color: black;
    transition: 0.1s;
}

.details_block{
    position: absolute;
    width: 300px;
    left: 37%;
    top: 60%;
    border-left: 1px solid black;
}

.details_block > p {
    margin: 10px;
    font-size: 18px;
}

.comments_block {
    display: block;
    width: 700px;
    margin: 100px 20px 20px 20px;
}

.comment-input-block {
    background: white;
    display: block;
}

.comment-input-block > h3 {
    clear: both;
    padding: 50px 10px 0px 0px;
}

.comment-input-block > button {
    width: 150px;
    height: 30px;
    margin-top: 10px;
}

.comment-input {
    width: 500px;
    height: 100px;
    font-size: 15px;
}

.rating-radio {
    padding-left: 0px;
    padding-top: 0px;
}

.rating-radio > li {
    list-style-type: none;
    display: inline-block;
}

.reviews-block {
    margin-top: 20px;
}

.user-review-block {
    clear: both;
    padding-top: 40px;
    display: block;
}

.review-avatar {
    float: left;
    display: block;
}

.unauth-review {
    margin-top: 100px;
    display: inline-block;
    font-size: 20px;
}

.review-username {
    font-size: 23px;
    font-weight: bold;
    color: brown;
    margin: 10px;
    padding-left: 150px;
}

.rating-review {
    font-size: 20px;
    padding-left: 160px;
}

.review-content {
    width: 600px;
    font-size: 17px;
    padding: 10px 20px 20px 160px;
    word-break: break-all;
}

.review-status {
    margin-top: 80px;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
}

.rating-book {
    font-size: 30px;
    margin: 20px 10px 0px 420px;
}