.section_with_blocks {
    display: inline-block;
    margin: 0px auto 17px 15%;
    width: 70%;
    height: auto;
    font-family: arial;
    font-weight: bold;
}

.section_with_blocks > h1 {
    color: #141414;
    font-size: 28px;
    margin: 62px 30px 15px 0px;
    padding-left: 2%;
    border-left: 4px solid #973b3b;
}

.section_with_blocks > h2 {
    color: #141414;
    font-size: 23px;
    padding: 10px 10px 10px 30px;
    border-bottom: 4px solid #973b3b;
}

.book_block {
    text-decoration: none;
    float: left;
    font-size: 17px;
    width: 200px;
    margin: 0px 30px 30px 30px;
    padding-bottom: 8px;
    word-wrap: break-word;
    text-align: center;
    font-weight: normal;
}

.title_style {
    font-family: arial;
    color: black;
    font-size: 100%;
    text-decoration: none;
}

.author_style {
    display: block;
    color: gray;
    font-size: 95%;
    font-family: arial;
    text-decoration: none;
}

.author_style:hover, .title_style:hover {
    color: #973b3b;
}

.price_style {
    text-align: center;
    color: #973b3b;
    font-size: 93%;
    font-family: arial;
}
