h1 {
    font-family: arial;
    font-size: 28px;
    margin-top: 30px;
    text-align: center;

}

.filter_and_book_blocks {
    float: left;
    display: block;
    background: #EAE8ED;
    width: 70%;
    margin-left: 15%;
}

.section_with_blocks {
    float: right;
    display: inline-block;
    width: 80%;
    height: auto;
    background: #EAE8ED;
}

.book_block {
    float: right;
    font-size: 17px;
    width: 180px;
    height: 500px;
    margin: 23px 10px 15px 15px;
    padding-bottom: 8px;
    text-align: center;
}

.title_style {
    display: block;
    color: black;
    text-decoration: none;
    font-family: arial;
    font-size: 100%;
}

.author_style {
    display: block;
    color: gray;
    font-size: 95%;
    text-decoration: none;
    font-family: arial;
}

.author_style:hover, .title_style:hover {
    color: #973b3b;
}

.price_style {
    text-align: center;
    color: #973b3b;
    font-size: 95%;
    font-family: arial;
}

.filter_block {
    background: white;
    font-size: 17px;
    box-shadow: 0 5px 6px -2px lightgray;
    font-family: arial;
    display: inline-block;
    width: 230px;
    margin-top: 20px;
    padding: 20px 10px 20px 20px;
    border-left: 4px solid brown;
}

.filter_block a {
    width: 83%;
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 15px 0px 15px 15px;
}

.filter_block a:hover {
    background: #E8E9ED;
}

.price_filter_block {
    float: left;
    width: 206px;
    padding: 15px 0px 15px 15px;
    border-top: 2px solid lightgray;
}

.price_filter_block input {
    width: 70px;
    height: 25px;
    margin: 10px 10px 10px 0px;
    font-size: 15px;
}