

.section_with_blocks {
    float: right;
    display: inline-block;
    margin: 40px 15% 0 15%;
    width: 58%;
    height: auto;
    background: white;
}

.book_block {
    float: right;
    font-size: 17px;
    width: 180px;
    height: 500px;
    margin: 10px 10px 20px 30px;
    padding-bottom: 8px;
    text-align: center;
}

.title_style {
    color: black;
    text-decoration: none;
    font-family: arial;
    font-size: 100%;
}

.author_style {
    display: block;
    color: gray;
    font-size: 95%;
    text-decoration: none;
    font-family: arial;
}

.author_style:hover, .title_style:hover {
    color: #973b3b;
}

.price_style {
    text-align: center;
    color: #973b3b;
    font-size: 95%;
    font-family: arial;
}