{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Вход
{% endblock %}

{% block css_load %}
    <link rel="stylesheet" href="{% static 'users/login_registr.css' %}">
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
        <div class="message">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    <div class="register-section">
        <form method="POST">
            {% csrf_token %}
            <div class="form-section">
                <h2>Вход</h2>
                <p>Логин</p>
                <div>{{ form.username|add_class:"form-input" }}</div>
                <p>Пароль</p>
                <div>{{ form.password|add_class:"form-input" }}</div>
                {% if form.errors %}
                    <div class="errors-section">Вы ввели неправильный логин или пароль!</div>
                {% endif %}
                <button class="register-btn" type="submit">Ввод</button>
            </div>
            <div class="have-account">
                    Нет аккаунта? <a class="ml-2" href="{% url 'register' %}">Регистрация</a>
            </div>
        </form>
    </div>
{% endblock %}