{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Вход
{% endblock %}

{% block css_load %}
    <link rel="stylesheet" href="{% static 'users/logout.css' %}">
{% endblock %}

{% block content %}
    <form method="get">
        {% include 'includes/navbar.html' %}
    </form>
    <div class="logout-block">
        <div class="text-block">
            <h2>Вы вышли из своей учетной записи</h2>
            <a href="{% url 'login' %}">Войти</a>
        </div>
    </div>
{% endblock %}