{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Смена пароля
{% endblock %}

{% block css_load %}
    <link rel="stylesheet" href="{% static 'users/login_registr.css' %}">
{% endblock %}

{% block content %}
    <div class="register-section">
        <form method="post" class="form-section">
            {% csrf_token %}
            <p>Старый пароль</p>
            {{ form.old_password|add_class:"form-input"}}<br>
            <p>Новый пароль</p>
            {{ form.new_password1|add_class:"form-input"}}<br>
            <p>Повторите новый пароль</p>
            {{ form.new_password2|add_class:"form-input"}}<br>
            {% for error in errors_list %}
                <ul class="errors-section">
                    <li>{{ error }}</li>
                </ul>
            {% endfor %}
            <button type="submit" class="register-btn">Ввод</button>
        </form>
    </div>
{% endblock %}