{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Профиль
{% endblock %}

{% block css_load %}
    <link rel="stylesheet" href="{% static 'users/profile_page.css' %}">
{% endblock %}

{% block content %}
	<div class="profile-block">
  	    <div class="head-block">
            <img class="user-avatar" src="{{ user.profile.image.url }}" height="220" width="225">
			<h2 class="profile-username">{{ user.username }}</h2>
			<p class="profile-email">{{ user.email }}</p>
  		</div>
		<div class="profile-fields">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="file">
				<p>Логин:</p>
				{{ user_form.username|add_class:"form-fields" }}<br>
				<p>Email:</p>
				{{ user_form.email|add_class:"form-fields" }}<br>
				<p>Пароль:</p>
				<a href="{% url 'change_password' %}" class="pass-change">Изменить пароль</a><br>
				<button class="apply-btn" type="submit">Применить изменения</button>
				<a href="{% url 'logout' %}" class="logout">Выйти</a>
			</form>
		</div>
	</div>
{% endblock %}