{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Регистрация
{% endblock %}

{% block css_load %}
    <link rel="stylesheet" href="{% static 'users/register_page.css' %}">
{% endblock %}

{% block content %}
    {% if messages %}
        	{% for message in messages %}
          	<div class="{{ message.tags }}">
            	{{ message }}
          	</div>
        	{% endfor %}
    {% endif %}
    <form method="get">
        {% include 'includes/navbar.html' %}
    </form>
    <div class="register-section">
        <form method="POST">
            {% csrf_token %}
            <div class="form-section">
                <h2>Регистрация</h2>
                <span>Логин</span>
                <div>{{ form.username|add_class:"form-input" }}</div>
                <span>Email</span>
                <div>{{ form.email|add_class:"form-input" }}</div>
                <span>Пароль</span>
                <div>{{ form.password1|add_class:"form-input" }}</div>
                <span>Повторите пароль</span>
                <div>{{ form.password2|add_class:"form-input" }}</div>
                <button class="register-btn" type="submit">Ввод</button>
            </div>
        </form>
        <div class="have-account">
            Уже есть аккаунт? <a class="ml-2" href="#">Вход</a>
        </div>
    </div>
{% endblock %}