{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Регистрация
{% endblock %}

{% block css_load %}
    <link rel="stylesheet" href="{% static 'users/login_registr_page.css' %}">
{% endblock %}

{% block content %}
    <div class="register-section">
        <form method="POST">
            {% csrf_token %}
            <div class="form-section">
                <h2>Регистрация</h2>
                <span>Логин</span>
                <div>{{ form.username|add_class:"form-input" }}</div>
                <span>Email</span>
                <div>{{ form.email|add_class:"form-input" }}</div>
                <span>Пароль</span>
                <div>{{ form.password1|add_class:"form-input" }}</div>
                <span>Повторите пароль</span>
                <div>{{ form.password2|add_class:"form-input" }}</div>
                {% if field_errors %}
                    {% for error in field_errors %}
                        <ul class="errors-section">
                            <li>{{ error }}</li>
                        </ul>
                    {% endfor %}
                {% endif %}
                <button class="register-btn" type="submit">Ввод</button>
            </div>
        </form>
        <div class="have-account">
            Уже есть аккаунт? <a class="ml-2" href="{% url 'login' %}">Вход</a>
        </div>
    </div>
{% endblock %}