.basket-block {
    border-left: 4px solid brown;
    display: flex;
    width: 800px;
    font-family: arial;
    box-shadow: 0 5px 6px -2px lightgray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background: white;
    padding: 15px 15px 20px 7px;
}

.items-block {
    width: 700px;
}

.item-block {
    display: inline-block;
    padding: 20px;
    margin: 0px 20px 10px 20px;
    width: 500px;
    box-shadow: 0 5px 6px -2px lightgray;
}

.image-block {
    float: left;
    padding-right: 20px;
}

.title-block {
    color: black;
    display: inline-block;
    width: 320px;
    padding: 10px 20px 10px 0px;
    font-size: 20px;
    text-decoration: none;
}

.trash-icon {
    display: inline-block;
    float: right;
    margin-left: 300px;
}

.price-block {
    color: brown;
    font-size: 22px;
    margin-bottom: 100px;
}

.author-block {
    padding-left: 140px;
    width: 320px;
    padding-bottom: 10px;
}

.result-item {
    background: lightgray;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 5px 6px -2px gray;
}

.result-title {
    margin-bottom: 5px;
}

.result-price {
    color: brown;
}

.total-sum {
    font-size: 22px;
    margin: 5px;
    float: right;
    border-bottom: 3px solid brown;
}

.button {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    border: 1px solid gray;
    height: 40px;
    width: 95%;
}

.button:hover {
    background: lightgray;
}

.basket_remove {
    font-size: 15px;
    background: #E8E9ED;
    border: 1px solid gray;
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 6px;
    margin-top: 10px;
    margin-left: 40px;
}

.basket_remove:hover {
    background: lightgray;
}