.register-section {
    font-family: arial;
    background: white;
    border-left: 4px solid brown;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    box-shadow: 0 5px 6px -2px lightgray;
}

.form-section {
    margin: 30px 200px 0px 200px;
    padding-top: 5px;
    font-size: 20px;
}
.form-section p {
    margin-left: 3px;
}

.form-input {
    margin: 5px 0px 15px 0px;
    font-size: 20px;
    height: 30px;
    border: 1px solid gray;
}

.register-btn {
    font-size: 20px;
    margin: 20px 0px 10px 0px;
    background: #E8E9ED;
    border: 1px solid gray;
    width: 272px;
    height: 35px;
}

.register-btn:hover {
    background: lightgray;
}

.have-account {
    padding: 20px 15px 30px 0px;
    text-align: center;
}

.errors-section {
    color: red;
    margin: 10px 0px 10px 23px;
    padding: 0px;
}


