.profile-block {
    border-left: 4px solid brown;
    font-family: arial;
    width: 46%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 30px;
    padding-top: 15px;
    box-shadow: 0 5px 6px -2px lightgray;
    height: 700px;
}

.head-block {
    width: 100%;
    padding-top: 0px;
}

.user-avatar {
    padding-top: 0px;
    float: left;
    padding-right: 40px;
}

.profile-username {
    font-size: 30px;
    padding-top: 50px;
}

.profile-email {

}