.profile-block {
    border-left: 4px solid brown;
    font-family: arial;
    width: 46%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 30px;
    padding-top: 15px;
    box-shadow: 0 5px 6px -2px lightgray;
    height: 700px;
}

.head-block {
    width: 100%;
    padding-top: 0px;
}

.user-avatar {
    padding-top: 0px;
    float: left;
    padding-right: 40px;
}

.profile-username {
    font-size: 30px;
    padding-top: 50px;
}

.profile-email {
    color: gray;
    font-weight: bold;
    padding-bottom: 0px;
}

.profile-fields {
    margin-left: 10px;
    width: 80%;
    margin-top: 110px;
    font-size: 20px;
    margin-left: 10px;
}

.form-fields {
    width: 300px;
    height: 30px;
    font-size: 20px;
}

.apply-btn {
    font-size: 15px;
    margin: 50px 0px 10px 0px;
    background: #E8E9ED;
    border: 1px solid gray;
    width: 200px;
    height: 30px;
}
