.profile-block {
    border-left: 4px solid brown;
    font-family: arial;
    width: 46%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 30px;
    padding-top: 15px;
    box-shadow: 0 5px 6px -2px lightgray;
}

.head-block {
    width: 100%;
    padding-top: 0px;
}

.user-avatar {
    padding-top: 0px;
    float: left;
    padding-right: 40px;
}

.profile-username {
    font-size: 30px;
    padding-top: 50px;
}

.profile-email {
    color: gray;
    font-weight: bold;
    padding-bottom: 0px;
}

.profile-fields {
    margin-left: 10px;
    width: 80%;
    margin-top: 110px;
    font-size: 20px;
    margin-left: 1я0px;
}

.form-fields {
    width: 300px;
    height: 30px;
    font-size: 20px;
    color: gray;
}

.form-fields:focus {
    color: black;
}

.apply-btn {
    font-size: 15px;
    margin: 50px 0px 10px 0px;
    width: 200px;
    height: 35px;
}

p {
    margin-bottom: 10px;
    margin-top: 25px;
}

.pass-change {
    display: block;
    text-align: center;
    padding: 6px 0px 6px 0px;
    border-radius: 3px;
    width: 150px;
    height: 20px;
    font-size: 15px;
    color: black;
    background: #EFEFEF;
    text-decoration: none;
    border: 1px solid gray;
}

.logout {
    position: relative;
    left: 580px;
    color: brown;
    text-weight: bold;
    text-decoration: none;
}
