.section_with_blocks {
    display: inline-block;
    margin-left: 15%;
    margin-right: auto;
    margin-bottom: 60px;
    background: none;
    width: 70%;
    height: auto;
    font-family: arial;
    font-weight: bold;
}

.name_block {
    color: #141414;
    font-size: 30px;
    margin: 62px 30px 15px 0px;
    padding-left: 2%;
    border-left: 4px solid brown;
}

.book_block {
    font-size: 17px;
    width: 200px;
    float: left;
    margin: 30px 30px 30px 30px;
    padding-bottom: 8px;
    word-wrap: break-word;
    text-align: center;
    border-bottom: 4px solid brown;
}